
@{
    ViewBag.Title = "Game";
}
<div class="container">
    <h1>@ViewBag.Page</h1>
    <div class="card-deck">
        @foreach (var game in ViewBag.games)
        {
            @RenderPage("GamePreview.cshtml", new { Game = game });
        }
    </div>
</div>
@Scripts.Render("~/Scripts/p5.min.js")
@Scripts.Render("~/Scripts/GamePreview.js")