
<div id=@Page.Game.Id class="card m-3" style="min-width:240px;">
    <div class="card-header text-center"></div>
    <div class="card-body text-center">
        <input class="board" type="hidden" value=@Page.Game.Board>
        <h5 class="card-title text-uppercase">@Page.Game.Id.ToString().Split('-')[0]</h5>
        <p>@Page.Game.Last_Move_Date</p>
    </div>
</div>
